.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* subtract height of navbar */
  flex-direction: column;
}

.outline-button:hover {
  outline: 1px solid;
  cursor: pointer;
}

.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; this makes the arrow go all the way to the bottom of the screen */
  text-align: center;
}

h1 {
  font-size: 60px;
}